/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* text css above hero image*/
.hero_title {
    font-size: 1.5rem;
}
.hero_desc {
    font-size: 1rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar{
    background-color:  rgba(68, 67, 67, 0.15);
}

.navbar .nav-link{
    color:  rgb(255, 255, 255);
}

.navbar .nav-link:hover{
    color:  rgba(255, 255, 255, 0.5);
}

.navbar .navbar-brand{
    color:  rgb(255, 255, 255);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/2350259.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    width: 100%;
    text-align: center;
    height: 30px;
}

p{
    color: rgba(255, 255, 255, 0.651);
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
